<h1>Dashboard</h1>
<% if @unit == "day" %>
  <%= link_to "Show By Week", :action => "index", :unit=>"week" %>
<% else %>
  <%= link_to "Show By Day", :action => "index", :unit=>"day" %>
<% end %>

<%= link_to "Graph All Stats", :action => "graph_stats", :unit=>@unit %>

<div class="metrify_chart">
<table cellpadding="0" cellspacing="0" >
  <thead> 
    <tr>
      <% sorted_stat_names.each do |s| %>
        <td>
          <%= link_to pretty_col_name(s), :action => "graph_stat", :stat_name => s, :unit=>@unit %>
        </td>
      <% end %>  
    </tr>
  </thead>
  <tbody>
    <% @historical_site_stats.each do |stat| %>
      <tr>
        <% sorted_stat_names.each do |s| %>
        <td><%= stat.send(s) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br />