<script type="text/javascript" charset="utf-8">
  Breakdown = Class.create({
    initialize : function(series_data){
     this.get_chart(series_data);
    },
    get_chart : function(data){
      if(this.chart){ return this.chart; }
      this.chart = new Highcharts.Chart({
  	    chart: {
  	      renderTo: "stat_chart"
        },
        title: {
          text: "All Stats"
        },
        xAxis: {
         type: "datetime" 
        },
        yAxis: {
          title: {
            text: "Value"
          }
        },
        series: data
      });
    },
    create_new_chart : function(stat_names){  
      var filters = get_filter_values();
      // var params = $H({names : stat_names || [], filters : filters || []}).toQueryString();
      params = filters;
      var url = ["/<%= @classname %>/chart_data.json", params].join('?');
      new Ajax.Request(url, {onSuccess : function(trans){
        this.chart = null;
        this.get_chart(eval(trans.responseText));
      }.bind(this)})
    }
  });
</script>

<%= render :partial => 'metrify/time_links', :locals => {:unit => @unit, :action => 'graph_stats', :stat_names => @stat_names} %>
<%= link_to "Metrics Home", 'index' %>
<% showDateRangeOptions = "" 
showDateRangeOptions += "$(\'dateRangeOptions\').style.display = \'block\';\n" %>
<div class="metrify_graph" id="stat_chart"></div>
<% @metrify.filters.each_pair do |filter, subfilters| %>
<div><br><%= filter %>
  <% subfilters.each_pair do |subfilter, attributes| %>
    <input type="checkbox" id="<%= 'filters[' + filter.to_s + '[' + subfilter.to_s + ']]' %>" name="<%= subfilter.to_s %>"  onClick="breakdown.create_new_chart();"/><%= subfilter.to_s %><br>
  <% end %>
<% end %>
<input type="button" value="Click Here" onUnclick="dashboard.create_new_chart();">
<!-- this to controller and replace this with ajax also -->
<script type="text/javascript" charset="utf-8"> 
  var data = <%= @stat_names.map{|s| {:name => pretty_col_name(s, @metrify), 
                                  :pointInterval => (1.send(@unit) * 1000), 
                                  :pointStart => (@number_of_stats.send(@unit).ago.to_i * 1000), 
                                  :data => get_stat_arr(s)}}.to_json %>;
  window.breakdown = new Breakdown(data);

  function get_filter_values()
  {
    var paramStrings = ""; 
    <% @metrify.filters.each_pair do |filter, subfilters| %>
      <% subfilters.each_pair do |subfilter, attributes| %>
        var param = "<%= 'filters[' + filter.to_s + '[' + subfilter.to_s + ']]' %>";
        e = document.getElementById(param);
        var value = e.value;
        var k = e.name;
        if (value != null && value != '') {
          if (paramStrings != "") {
            paramStrings = paramStrings + '&';
          }
          paramStrings = paramStrings + 'filters[<%= filter.to_s %>][]=' + k;
        }
      <% end %>
    <% end %>
    <% if @unit %>
      paramStrings = paramStrings + '&unit=<%= @unit %>';
    <% end %>
    return paramStrings;
  }

</script>